%header
  %h1.text-center.page-header ネガポジ分析
%div.container
  %div.container-fluid
    %div.row
      %div.col-sm-2
        %p.text-center 参考サイト等
        %ul.list-group
          %li.list-group-item
            %a{ href: 'http://www.lr.pi.titech.ac.jp/~takamura/pubs/pn_ja.dic' } 辞書
          %li.list-group-item
            %a{ href: 'http://qiita.com/uchim/items/db20d662d762efbfa9e5' } Qiita
          %li.list-group-item
            %a{ href: 'http://repo.flib.u-fukui.ac.jp/dspace/bitstream/10098/8763/1/Mem.Grad.Eng.Univ.Fukui.Vol.63(75-86).pdf' } PDF
      %div.col-sm-8{ 'ng-controller' => 'tryAppController1' }
        %p
          下の枠に分析したい文章を入力してください。
          %br 1から−1で感情を表します。1に近いほどポジティブ、−1に近いほどネガティブです。{{test}}
        %p= "値:#{@value}"
        %p{ 'ng-show' => 'flag' } 分析しています。少々お待ちください。
        %form{ action: '/', method: 'post'}
          %textarea.form-control{ name: 'input_text', rows: '10', 'ng-model' => 'textModel' }
          %br
          %p{ 'ng-show' => 'textModel.length > 0' } 文字数:{{ textModel.length }}
          %button.btn.btn-primary{ type: 'submit', 'ng-click' => 'onClick()' }
            %span.glyphicon.glyphicon-upload 送信する
      %div.col-sm-2
        %br
        %p= "#{@analyzed_data}"
  %footer
